
body {
	background-color: #FFF8DD;
}

p{
	margin: 1px;
	border: 1px;
	padding: 1px;
		}
		
#Reference {
	font-size:200%;
	font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif }
}

#Missions {
	font-size:200%;
	font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif }

.removed{
	background-color: #FFCCCC;
	padding-bottom: 5px; padding-top: 5px;
	text-decoration:line-through;
	font-size:80%;
}
.available{
	border: 3px solid #267F2D;
	background-color: #BDFFAF;
	padding-bottom: 10px; padding-top: 10px;
}
.picked{
	border: 3px solid #CEC40E;
	background-color: #FFF0A0;
	padding-bottom: 10px; padding-top: 10px;
	font-size:120%;
}

.known{
	border: 3px solid #4F60FF;
	background-color: #87ADFF;
	padding-bottom: 10px; padding-top: 10px;
	}

::selection { color: #FFFFFF; background-color: #993366; }

::-moz-selection { color: #FFFFFF; background-color: #993366; }


