
body {
	background-color: #FFF8DD;
}

p{
	margin: 1px;
	border: 1px;
	padding: 1px;
		}
		
#Reference {
	font-size:200%;
	font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif }
}

#Missions {
	font-size:200%;
	font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif }

	
#KnownButton {
	background-color: #000F00;
	color: #FFFFFF
}

#AnyButton {
	color: #AFAFAF;
	background-color: #00010A;
}
.removed{
	color: #353535;
	background-color: #000000;
	padding-bottom: 5px; padding-top: 5px;
	text-decoration:line-through;
	font-size:80%;
}
.available{
	color: #AFAFAF;
	background-color:  #00010A;
	padding-bottom: 10px; padding-top: 10px;
}
.picked{
	color: #FFFFFF;
	background-color:  #000000;
	padding-bottom: 10px; padding-top: 10px;
	font-size:120%;
}

.known{
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	background-color:  #000F00;
	padding-bottom: 10px; padding-top: 10px;
	}

::selection { color: #FFFFFF; background-color: #993366; }

::-moz-selection { color: #FFFFFF; background-color: #993366; }


